/*
Based on https://github.com/owickstrom/the-monospace-web
*/


:root {
  /*noinspection CssUnresolvedCustomProperty*/
  --font-family: var(--font-berkeley-mono), monospace;
  --line-height: 1.4rem;
  --border-thickness: 2px;

  --text-color: #18181b;
  --text-color-alt: #3f3f46;

  --background-color: #F5F5F5;
  --background-color-alt: #FFF;

  --font-weight-regular: 100;
  --font-weight-bold: 700;

  --highlight-color: #a5f3fc;


  --stripe-background: repeating-linear-gradient(
    -45deg,
    var(--background-color),
    var(--background-color) 10px,
    #52525b 10px,
    #52525b 25px
  );


  --stripe-background-light: repeating-linear-gradient(
    -45deg,
    var(--background-color),
    var(--background-color) 10px,
    rgb(82, 82, 91, 0.25) 10px,
    rgb(82, 82, 91, 0.25) 25px
  );


  font-family: var(--font-family), monospace;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: 16px;

}


* {
  box-sizing: border-box;
}


.tight {
  margin: 0;
}

html {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: var(--line-height) 2ch;
  /*noinspection CssInvalidFunction*/
  max-width: calc(min(80ch, round(down, 100%, 1ch)));
  flex-grow: 1;
  line-height: var(--line-height);
  overflow-x: hidden;
  background-color: var(--background-color);
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }

  body {
    padding: var(--line-height) 1ch;
  }
}

h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
}

article.content h2{
  background: var(--text-color);
  color: var(--background-color);
  padding: .5rem;
  margin-top: calc(var(--line-height) * 2);

}

h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  line-height: calc(3 * var(--line-height));
  text-transform: uppercase;
}

h2 {
  padding-top: .35rem;
  padding-bottom: .35rem;
  font-size: 2.25rem;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: calc(var(--line-height))
}

h3 {
  font-size: 2rem;
}


hr {
  position: relative;
  display: block;
  height: var(--line-height);
  margin: 0 0 calc(var(--line-height) * 1.5) 0;
  border: none;
  color: var(--text-color);
}

hr:after {
  display: block;
  content: "";
  position: absolute;
  top: calc(var(--line-height) / 2 - var(--border-thickness));
  left: 0;
  width: 100%;
  border-top: calc(var(--border-thickness) * 3) double var(--text-color);
  height: 0;
}

a {
}

a:link, a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--text-color-alt);
  background: #a5f3fc;
}

p {
  margin-bottom: var(--line-height);
}

strong {
  font-weight: var(--font-weight-bold);
}

em {
  font-style: italic;
}

sub {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: sub;
  line-height: 0;
  width: calc(1ch / 0.75);
  font-size: .75rem;
}

table {
  position: relative;
  top: calc(var(--line-height) / 2);
  /*noinspection CssInvalidFunction*/
  width: calc(round(down, 100%, 1ch));
  border-collapse: collapse;
  margin: 0 0 calc(var(--line-height) * 2);
}

th, td {
  border: var(--border-thickness) solid var(--text-color);
  padding: calc((var(--line-height) / 2)) calc(1ch - var(--border-thickness) / 2) calc((var(--line-height) / 2) - (var(--border-thickness)));
  line-height: var(--line-height);
  vertical-align: top;
  text-align: left;
}

table tbody tr:first-child > * {
  padding-top: calc((var(--line-height) / 2) - var(--border-thickness));
}


th {
  font-weight: var(--font-weight-bold);
}

td {
  font-weight: var(--font-weight-regular);
}

.width-min {
  width: 0%;
  white-space: nowrap;
}

.width-auto {
  width: 100%;
}

header {
  margin-top: var(--line-height);
}

header h1 {
  margin: 0;
}

p {
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;

}


details {
  border: var(--border-thickness) solid var(--text-color);
  padding: calc(var(--line-height) - var(--border-thickness)) 1ch;
  margin-bottom: var(--line-height);
}

summary {
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

details[open] summary {
  margin-bottom: var(--line-height);
}

details ::marker {
  display: inline-block;
  content: '▶';
  margin: 0;
}

details[open] ::marker {
  content: '▼';
}

details :last-child {
  margin-bottom: 0;
}

pre {
  white-space: pre;
  overflow-x: auto;
  margin: var(--line-height) 0;
  overflow-y: hidden;
}


pre, code {
  font-family: var(--font-family);
}

code {
  font-weight: var(--font-weight-regular);
}

figure {
  margin: calc(var(--line-height)) var(--line-height);
  border: var(--border-thickness) solid var(--text-color);
  max-width: 100%;
  background: var(--stripe-background-light);
}

figure > img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}


figcaption {
  display: block;
  font-style: italic;

  line-height: var(--line-height);

  border-top: var(--border-thickness) solid var(--text-color);
  padding: calc(var(--line-height) / 2);
  margin: 0;
  background: white;
}


ul, ol {
  padding: 0;
  margin: 0 0 var(--line-height);
}

ul {
  list-style-type: square;
  padding: 0 0 0 2ch;
}

ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

ol ul,
ol ol,
ul ol,
ul ul {
  padding: 0 0 0 3ch;
  margin: 0;
}

ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  font-weight: var(--font-weight-regular);
}

li {
  margin: 0;
  padding: 0;
}

li::marker {
  line-height: 0;
}

::-webkit-scrollbar {
  height: var(--line-height);
}


input[type=checkbox] {
  display: inline-grid;
  place-content: center;
  vertical-align: top;
  width: 2ch;
  height: var(--line-height);
  cursor: pointer;
}

input[type=checkbox]:checked:before {
  content: "";
  width: 1ch;
  height: calc(var(--line-height) / 2);
  background: var(--text-color);
}


::placeholder {
  color: var(--text-color-alt);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--text-color-alt);
}


label {
  display: block;
  /*noinspection CssInvalidFunction*/
  width: calc(round(down, 100%, 1ch));
  height: auto;
  line-height: var(--line-height);
  font-weight: var(--font-weight-regular);
  margin: 0;
}

label input {
  width: 100%;
}

.tree, .tree ul {
  position: relative;
  padding-left: 0;
  list-style-type: none;
  line-height: var(--line-height);
}

.tree ul {
  margin: 0;
}

.tree ul li {
  position: relative;
  padding-left: 1.5ch;
  margin-left: 1.5ch;
  border-left: var(--border-thickness) solid var(--text-color);
}

.tree ul li:before {
  position: absolute;
  display: block;
  top: calc(var(--line-height) / 2);
  left: 0;
  content: "";
  width: 1ch;
  border-bottom: var(--border-thickness) solid var(--text-color);
}

.tree ul li:last-child {
  border-left: none;
}

.tree ul li:last-child:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: calc(var(--line-height) / 2);
  border-left: var(--border-thickness) solid var(--text-color);
}

.grid {
  gap: 1ch;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: dense;

}

.grid > div {
  display: flex;
  justify-content: center;
}


ul.unstyled {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav.mainNav {
}


table.details > caption > div {
  background-color: var(--background-color);
  margin-top: calc((var(--line-height) / -1.5));
  position: absolute;
  padding: 0 0.5ch;
  right: calc(1ch + var(--border-thickness) / 2);
}

nav.mainNav ul {
  /*margin-left: -2ch;*/
  padding: 0;
  list-style: none;
  width: 100%;
  margin: 0;
}

nav.mainNav ul:before {
}

nav.mainNav ul li {
  display: inline-block;
  padding-right: 1ch;
  margin-right: 1ch;
  line-height: calc(var(--line-height) * 2);
}


nav.mainNav ul li:hover {

}

nav.mainNav a:hover {
  font-weight: var(--font-weight-bold);
}

nav.mainNav a {
  font-weight: bold;
}


table.details > {
  z-index: 0;
}

table.details > caption {
  padding-left: calc(1ch - var(--border-thickness) / 2);
  position: relative;
  font-style: italic;
  font-weight: var(--font-weight-bold);
}


table.details li:not(:last-child) {
  padding-bottom: var(--line-height);
}

td.empty {
  background: var(--stripe-background-light);
  text-transform: uppercase;
  font-weight: bold;
}

td.empty > p {
  text-align: center;
  padding: 0 var(--line-height);
}

table.details th {
  font-weight: bold;
}

ul.inline-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.inline-list li {
  display: inline-block;
  margin-right: var(--line-height);
}




article.card {
  padding: calc(var(--line-height)) 0 ;
}



article.card > h3 { margin-top: 0; }

article > h2,
article > h3,
article > h4 {
}

h3 {
  line-height: 2rem;
}

ul.article-list {
  list-style: none;
  padding: 0;
  margin: calc(2 * var(--line-height))  0;
}

ul.article-list > li {
  border-top: var(--border-thickness) solid var(--text-color);

}

ul.article-list > li:last-child {
  border-bottom: var(--border-thickness) solid var(--text-color);

}

button.image-button {
  padding: 0;
  display: block;
  position: relative;
  width: 300px;
  aspect-ratio: 4 / 3;
}


button.image-button:hover {
  cursor: pointer;
  outline: 3px solid var(--highlight-color);
}

button.image-button:active {
}

button.image-button:focus,
button.image-button:focus-visible {
}


button.image-button img {
  object-fit: cover;
}

dialog {
  padding: 0;
  margin: auto auto;
}

dialog::backdrop {
  backdrop-filter: blur(1px);
  background-color: rgb(63, 63, 70, 0.3);
}


dl {
  margin: 0;
}


dt {
  font-weight: bold;
  margin-top: var(--line-height);
}

dt:first-of-type {
  margin-top: 0;
}

dt::after {
  content: ":"
}

dd {
  margin-top: 0
}


dialog.image-dialog {
  background: var(--background-color);
}

dialog.image-dialog figcaption {
  background: var(--background-color);
}


dialog.image-dialog figure > div {
  padding: 2ch;
  background: var(--stripe-background-light);
}

dialog.image-dialog div.image-container {
  position: relative;
  height: 50vh;
  aspect-ratio: 4 / 3;
}

dialog.image-dialog div.image-container img {
  object-fit: contain;
}

.dl-list {
  display: flex;
}

.dl-list > dl {
  display: block;
  padding-right: calc(var(--line-height) * 2);
}

main {
  padding-bottom: calc(var(--line-height) * 6);
}

.hero {
  background: var(--stripe-background-light);
  padding: calc(var(--line-height) / 2);
  margin-bottom: calc(var(--line-height) * 2);
  border: 1px solid #CCC;
  text-align: center;
  font-weight: var(--font-weight-bold);

}

.hero > h1 {
  margin: 0;
  background: rgba(255, 255, 255, 0.5);

}

.hero > p {
  font-style: italic;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
}