@import "tailwindcss";

body {
  @apply font-mono;
  @apply font-normal;
  @apply text-stone-900;
  @apply bg-white;
}

@theme {
  --font-*: initial;
  --font-mono: var(--font-berkeley-mono);

  --font-weight-normal: 100;

  --animate-bg-slide: slide 3s linear infinite;

  @keyframes slide {
    0%   { background-position-x: 0; }
    100%   { background-position-x: 80px; }
  }

}

td {
  @apply border-2 px-1 py-0.5;
}

th {
  @apply text-left align-baseline w-0 ;
  @apply border-2 pl-1 pr-4;
}

.content p {
  @apply my-[2ch]
}

.content figure {
  @apply max-w-md mx-auto;
  @apply border-4;
}

.content dialog figure {
  @apply mx-0 max-w-full;
}

.content figure figcaption {
  @apply border-t-4;
  @apply p-[1ch];
  @apply italic;
}

.content a {
  @apply underline hover:bg-cyan-200 font-bold decoration-2 text-stone-700;
}

.content h2 {
  @apply uppercase;
  @apply text-3xl font-bold text-white bg-stone-900;
  @apply py-1 px-2 my-[2ch];
}

.content h3 {
  @apply uppercase;
  @apply text-3xl font-bold mt-[1ch];
  @apply py-1 px-2 -ml-2;
}

code.hljs {
  @apply p-[2ch];
  @apply block bg-white;
}

